* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Lora;
  line-height: 1.5;
  color: #333;
}

form input {
  font-family: Lora;
}

h1,
h2,
h3 {
  margin: 0.75rem 0;
}

p {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  font-family: Lora;
  color: #333;
  border: none;
  background: none;
}

li {
  list-style: none;
}

.title {
  font-size: 2rem;
  font-weight: bolder;
}

.primary {
  font-size: 1.75rem;
  font-weight: bold;
}

.secondary {
  font-size: 1.5rem;
  font-weight: bold;
}

.teritary {
  font-size: 1rem;
}

.btn {
  font-family: Lora;
  display: inline-block;
  padding: 0.75rem;
  text-align: center;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-transition: background 1s ease-in;
  transition: background 1s ease-in;
}

.btn-primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#30abca), to(#1967af));
  background: linear-gradient(#30abca, #1967af);
  color: #fff;
}

.btn-primary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#22b6db), to(#1470c7));
  background: linear-gradient(#22b6db, #1470c7);
}

.password-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.password-field input {
  width: 93%;
}

.password-field div {
  margin-left: 2%;
  width: 5%;
}

.password-field div i {
  cursor: pointer;
}

.main-navbar {
  height: 15vh;
  width: 100%;
  padding: 1rem 2rem;
  color: #333;
  border-bottom: 1px solid #eee;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
}

.main-navbar #hamburger {
  display: none;
}

.main-navbar h1 {
  margin: 0;
  display: inline-block;
}

.main-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.main-navbar ul li {
  padding: 0.5rem 0;
}

#login {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 1fr;
      grid-template-columns: 0.9fr 1fr;
}

#login i {
  margin-right: 1rem;
}

#login .showcase-section {
  overflow: hidden;
  background: #ffe;
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem;
}

#login .showcase-section img {
  display: block;
  height: 40%;
  width: 60%;
  margin: 5rem auto 0 auto;
}

#login .form-section {
  background: url("https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login .form-section .cont {
  position: relative;
  width: 65%;
  height: 85%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#f4f4f4), to(#f3f3f3));
  background: linear-gradient(#fff, #f4f4f4, #f3f3f3);
  padding: 1rem 2rem;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

#login .form-section .cont #login-form {
  padding: 0.5rem;
}

#login .form-section .cont #login-form input[type="text"],
#login .form-section .cont #login-form input[type="password"] {
  display: block;
  width: 100%;
  border: none;
  background: inherit;
  border-bottom: 1px solid #555;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

#login .form-section .cont #login-form input[type="text"]:focus,
#login .form-section .cont #login-form input[type="password"]:focus {
  outline: none;
}

#login .form-section .cont #login-form button {
  display: block;
  width: 100%;
  margin: 1.25rem 0 0 0;
}

#login .form-section .cont #login-form button i {
  margin-right: 0.5rem;
}

#login .form-section .cont #login-form .form-footer {
  position: relative;
  z-index: 2;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login .form-section .cont #login-form .form-footer i {
  margin-right: 0.5rem;
}

#login .form-section .cont .crossbar {
  position: absolute;
  left: 12rem;
  bottom: 0;
  height: 100px;
  width: 320px;
  -webkit-transform: rotate(-10deg) scale(2.6) translateY(2.75rem);
          transform: rotate(-10deg) scale(2.6) translateY(2.75rem);
  background: -webkit-gradient(linear, left top, left bottom, from(#22b6db), to(#1470c7));
  background: linear-gradient(#22b6db, #1470c7);
}

#signup {
  display: -ms-grid;
  display: grid;
  height: 85vh;
  overflow: hidden;
  -ms-grid-columns: 0.9fr 1fr;
      grid-template-columns: 0.9fr 1fr;
}

#signup i {
  margin-right: 1rem;
}

#signup .showcase-section {
  background: #ffe;
  width: 100%;
  padding: 1rem 1.5rem;
  background-size: 100% 100%;
}

#signup .showcase-section h2 {
  margin: 1.75rem 0 0 0;
  line-height: 1.7;
}

#signup .showcase-section img {
  display: block;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#signup .form-section {
  overflow: auto;
  background: url("https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding: 1rem;
}

#signup .form-section .cont {
  margin: 2rem auto;
  width: 65%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#f4f4f4), to(#f3f3f3));
  background: linear-gradient(#fff, #f4f4f4, #f3f3f3);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

#signup .form-section .cont #signup-form {
  padding: 1rem 1.5rem;
}

#signup .form-section .cont #signup-form input[type="text"],
#signup .form-section .cont #signup-form input[type="password"],
#signup .form-section .cont #signup-form input[type="email"],
#signup .form-section .cont #signup-form input[type="tel"] {
  display: block;
  width: 100%;
  border: none;
  background: inherit;
  border-bottom: 1px solid #555;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

#signup .form-section .cont #signup-form input[type="text"]:focus,
#signup .form-section .cont #signup-form input[type="password"]:focus,
#signup .form-section .cont #signup-form input[type="email"]:focus,
#signup .form-section .cont #signup-form input[type="tel"]:focus {
  outline: none;
}

#signup .form-section .cont #signup-form .show {
  position: absolute;
  top: 12rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  cursor: pointer;
}

#signup .form-section .cont #signup-form button {
  display: block;
  width: 100%;
  margin: 1.5rem 0 0 0;
}

#signup .form-section .cont #signup-form button i {
  margin-right: 0.5rem;
}

#alert {
  margin: 1rem 0;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background: #ee2222;
  color: #fff;
  text-align: center;
}

#alert h1 {
  margin: 0;
}

#home .main-navbar ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#home .main-navbar ul li {
  cursor: pointer;
}

#home .main-navbar #user-info {
  position: absolute;
  top: 6.5rem;
  right: 0;
  background: #fff;
  padding: 1.5rem 2rem;
  z-index: 2;
  width: 20%;
  display: none;
}

#home .main-navbar #user-info img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

#home .main-navbar #user-info h1 {
  text-align: center;
}

#home .main-navbar #user-info button {
  display: block;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  background: #333;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

#home .body-section {
  min-height: 86vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.9fr;
      grid-template-columns: 1fr 0.9fr;
}

#home i {
  margin-right: 1rem;
}

#home .history {
  padding: 2rem;
  background: #ffe;
}

#home .search {
  padding: 2rem;
  background: #333;
  color: #fff;
}

#home .search .form-section {
  width: 100%;
  padding: 1rem 0.5rem;
}

#home .search .form-section form {
  width: 100%;
  position: relative;
}

#home .search .form-section form input[type="text"] {
  width: 100%;
  border: 2px solid #333;
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 25px;
}

#home .search .form-section form input[type="text"]:focus {
  outline: none;
}

#home .search .form-section form .search-icon {
  display: inline-block;
  position: absolute;
  left: 1rem;
  color: #888;
}

#home .search .form-section form .search-icon h1 {
  margin: 0.5rem;
}

#home .search .form-section .result {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
}

#home .search .form-section .result .user {
  border: 1px solid #bbb;
  border-radius: 10px;
  color: #fff;
}

.user {
  padding: 1.5rem 2rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user img {
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.dms {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("https://wallpapercave.com/wp/wp6988787.png") no-repeat center center;
  background-size: 100% 100%;
}

.dms .header {
  width: 100%;
  height: 12.5%;
  padding: 1rem 2rem;
  background: #fff;
  color: #333;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dms .header div,
.dms .header Link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dms .header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.dms .header h1 {
  margin: 0;
}

.dms .messages-section {
  width: 100%;
  height: 75%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1rem;
}

.dms .messages-section div {
  width: 100%;
}

.dms .messages-section div h1 {
  max-width: 100%;
  padding: 0.6rem;
  border-radius: 10px;
  margin: 1rem 0;
  text-align: center;
  display: inline-block;
}

.dms .messages-section .lmsg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dms .messages-section .lmsg h1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ffb));
  background: linear-gradient(#fff, #ffb);
  color: #333;
}

.dms .messages-section .rmsg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dms .messages-section .rmsg h1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c3f7f7));
  background: linear-gradient(#fff, #c3f7f7);
  color: #333;
}

.dms .form-section {
  padding: 0 0.75rem;
  width: 100%;
  height: 12.5%;
}

.dms .form-section div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dms .form-section textarea {
  display: inline-block;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  width: 95%;
  height: 4rem;
  border-radius: 30px;
  border: none;
  background: #fff;
  color: #333;
}

.dms .form-section textarea:focus {
  outline: none;
}

.dms .form-section button {
  display: inline-block;
  padding: 0.75rem;
  border: none;
  background: #fff;
  border-radius: 50%;
  color: #333;
  cursor: pointer;
}

#not-found {
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#not-found i {
  margin-right: 1rem;
}

#not-found div img {
  display: block;
  height: 220px;
  width: 300px;
  margin: auto;
}

#not-found div h1 {
  margin: 2rem 0 4rem 0;
}

#not-found div .secondary {
  padding: 1rem 0.75rem;
  background: #333;
  border-radius: 10px;
  color: #fff;
}

#loader {
  width: 100%;
}

#loader img {
  display: block;
  margin: auto;
  height: 200px;
  width: 300px;
}

#about {
  background: #ffe;
}

#about i {
  margin-right: 1rem;
}

#about .body-section {
  padding: 2rem;
  min-height: 74vh;
}

#about footer {
  padding: 1rem 2rem;
  width: 100%;
  background: #333;
  color: #fff;
}

#about footer .center {
  text-align: center;
}

#forgot-password .main-section {
  width: 100%;
  height: 86vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#forgot-password .main-section i {
  margin-right: 1rem;
}

#forgot-password .main-section .show-case img {
  width: 100%;
  height: 100%;
}

#forgot-password .main-section .form-section {
  padding: 2rem;
  background: url("https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#forgot-password .main-section .form-section #forgotpwd-form {
  position: relative;
  overflow: hidden;
  width: 85%;
  height: 93%;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
}

#forgot-password .main-section .form-section #forgotpwd-form h1 {
  text-align: center;
}

#forgot-password .main-section .form-section #forgotpwd-form .input-fields {
  padding: 1rem;
}

#forgot-password .main-section .form-section #forgotpwd-form .input-fields input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  margin: 0 0 2rem 0;
  border-bottom: 1px solid #333;
}

#forgot-password .main-section .form-section #forgotpwd-form .input-fields input[type="text"]:focus {
  outline: none;
}

#forgot-password .main-section .form-section #forgotpwd-form .input-fields button {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, from(#22b6db), to(#1470c7));
  background: linear-gradient(#22b6db, #1470c7);
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 1rem 0;
  cursor: pointer;
}

#forgot-password .main-section .form-section #forgotpwd-form .input-fields h3 {
  margin: 1.5rem 0;
  text-align: center;
}

#forgot-password .main-section .form-section #forgotpwd-form .crossbar {
  position: absolute;
  left: 12rem;
  bottom: 0;
  height: 100px;
  width: 320px;
  -webkit-transform: rotate(-10deg) scale(2.6) translateY(2.75rem);
          transform: rotate(-10deg) scale(2.6) translateY(2.75rem);
  background: -webkit-gradient(linear, left top, left bottom, from(#22b6db), to(#1470c7));
  background: linear-gradient(#22b6db, #1470c7);
}

#otp-verification {
  width: 100%;
  height: 86vh;
}

#otp-verification i {
  margin-right: 1rem;
}

#otp-verification .main-section {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#otp-verification .main-section .show-case img {
  width: 100%;
  height: 100%;
}

#otp-verification .main-section .form-section {
  padding: 2rem;
  background: url("https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#otp-verification .main-section .form-section #verification-form {
  position: relative;
  overflow: hidden;
  width: 85%;
  height: 93%;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
}

#otp-verification .main-section .form-section #verification-form h1 {
  text-align: center;
}

#otp-verification .main-section .form-section #verification-form .input-fields {
  padding: 1rem;
}

#otp-verification .main-section .form-section #verification-form .input-fields input[type="number"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  margin: 0 0 2rem 0;
  border-bottom: 1px solid #333;
}

#otp-verification .main-section .form-section #verification-form .input-fields input[type="number"]:focus {
  outline: none;
}

#otp-verification .main-section .form-section #verification-form .input-fields button {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, from(#22b6db), to(#1470c7));
  background: linear-gradient(#22b6db, #1470c7);
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 1rem 0;
  cursor: pointer;
}

#otp-verification .main-section .form-section #verification-form .input-fields h4 {
  margin: 1.5rem 0;
  color: #e9542f;
  font-weight: bolder;
}

#otp-verification .main-section .form-section #verification-form .crossbar {
  position: absolute;
  left: 12rem;
  bottom: 0;
  height: 100px;
  width: 320px;
  -webkit-transform: rotate(-10deg) scale(2.6) translateY(2.75rem);
          transform: rotate(-10deg) scale(2.6) translateY(2.75rem);
  background: -webkit-gradient(linear, left top, left bottom, from(#22b6db), to(#1470c7));
  background: linear-gradient(#22b6db, #1470c7);
}

#success-verification {
  width: 100%;
  height: 85.5vh;
}

#success-verification i {
  margin-right: 1rem;
}

#success-verification .main-section {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#success-verification .main-section .show-case img {
  width: 100%;
  height: 100%;
}

#success-verification .main-section .form-section {
  padding: 2rem;
  background: url("https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#success-verification .main-section .form-section #reset-form {
  position: relative;
  overflow: hidden;
  width: 85%;
  height: 100%;
  padding: 1rem 2rem;
  background: #fff;
  border-radius: 10px;
}

#success-verification .main-section .form-section #reset-form h1 {
  text-align: center;
}

#success-verification .main-section .form-section #reset-form .input-fields {
  padding: 1rem;
}

#success-verification .main-section .form-section #reset-form .input-fields input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.25rem;
  border: none;
  margin: 0 0 2rem 0;
  border-bottom: 1px solid #333;
}

#success-verification .main-section .form-section #reset-form .input-fields input:focus {
  outline: none;
}

#success-verification .main-section .form-section #reset-form .input-fields button {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, from(#22b6db), to(#1470c7));
  background: linear-gradient(#22b6db, #1470c7);
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 1rem 0;
  cursor: pointer;
}

#success-verification .main-section .form-section #reset-form .input-fields h4 {
  position: relative;
  margin: 1.2rem 0;
  font-weight: bolder;
  z-index: 2;
}

#success-verification .main-section .form-section #reset-form .crossbar {
  position: absolute;
  left: 12rem;
  bottom: 0;
  height: 100px;
  width: 320px;
  -webkit-transform: rotate(-10deg) scale(2.6) translateY(2.75rem);
          transform: rotate(-10deg) scale(2.6) translateY(2.75rem);
  background: -webkit-gradient(linear, left top, left bottom, from(#22b6db), to(#1470c7));
  background: linear-gradient(#22b6db, #1470c7);
}

#failed-verification {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#failed-verification .img-1 {
  display: block;
  margin: auto;
  height: 300px;
  width: 350px;
  border-radius: 50%;
}

#failed-verification .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

#failed-verification .content .img-2 {
  display: inline block;
  height: 80px;
  width: 100px;
}

#failed-verification .btn {
  display: block;
  padding: 1rem;
  background: #333;
  color: #fff;
  margin: 2rem auto;
}

@media (max-width: 400px) {
  .title {
    font-size: 2.25rem;
  }
  .primary {
    font-size: 1.5rem;
  }
  .secondary {
    font-size: 1.2rem;
  }
  .teritary {
    font-size: 1rem;
  }
  .main-navbar {
    width: 100%;
    -ms-grid-columns: 1fr 0.2fr;
        grid-template-columns: 1fr 0.2fr;
  }
  .main-navbar h1 {
    margin: 0;
    display: inline-block;
  }
  .main-navbar #hamburger {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    display: inline;
    z-index: 3;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .main-navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100%;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.75rem;
    background: #ffe;
    opacity: 0.9;
  }
  .main-navbar ul li {
    margin: 1rem 0;
    padding: 1rem;
  }
  #login {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #login .showcase-section {
    height: unset;
  }
  #login .showcase-section img {
    display: none;
  }
  #login .form-section {
    padding: 1rem;
  }
  #login .form-section .cont {
    width: 100%;
    padding: 1rem;
  }
  #login .form-section .cont #login-form {
    padding: 0.7rem;
  }
  #login .form-section .cont #login-form input[type="text"],
  #login .form-section .cont #login-form input[type="password"] {
    margin-bottom: 2rem;
  }
  #login .form-section .cont #login-form button {
    margin: 1rem 0 0 0;
  }
  #login .form-section .cont #login-form .form-footer {
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #signup {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #signup .showcase-section {
    height: unset;
  }
  #signup .showcase-section h2 {
    margin-bottom: 1.5rem;
  }
  #signup .showcase-section img {
    display: none;
  }
  #signup .form-section {
    padding: 1rem;
  }
  #signup .form-section .cont {
    padding: 1rem;
    margin: 0;
    width: 100%;
  }
  #signup .form-section .cont #signup-form {
    padding: 1rem;
  }
  #signup .form-section .cont #signup-form input[type="text"],
  #signup .form-section .cont #signup-form input[type="password"] {
    margin-bottom: 2rem;
  }
  #signup .form-section .cont #signup-form button {
    margin: 1rem 0 0 0;
  }
  #signup .form-section .cont #signup-form .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .main-navbar {
    -ms-grid-columns: 1fr 0.2fr;
        grid-template-columns: 1fr 0.2fr;
  }
  #home .main-navbar #user-info {
    top: 5rem;
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    width: 60%;
  }
  #home .main-navbar #user-info img {
    height: 80px;
    width: 80px;
  }
  #home .main-navbar #user-info button {
    background: #fff;
    color: #333;
    font-weight: bolder;
  }
  #home .main-navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background: none;
    opacity: 1;
    height: unset;
    width: unset;
  }
  #home .main-navbar ul li {
    padding: 0;
    margin: 0;
  }
  #home .body-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #home .body-section .history .user {
    padding: 1rem;
  }
  #home .body-section .history .user img {
    height: 70px;
    width: 70px;
  }
  #home .body-section .search {
    padding: 1rem;
    text-align: center;
  }
  #home .body-section .search .form-section .search-icon {
    top: 0.2rem;
  }
  #home .body-section .search .form-section .result {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
  }
  #home .body-section .search .form-section .result .user {
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #fff;
  }
  #home .body-section .search .form-section .result .user img {
    height: 70px;
    width: 70px;
  }
  .dms .header img {
    width: 60px;
    height: 60px;
  }
  .dms .nav {
    display: none;
  }
  .dms .messages-section {
    overflow-y: scroll;
    padding: 1.5rem;
  }
  .dms .form-section {
    padding: 0.75rem;
  }
  .dms .form-section textarea {
    padding: 0.75rem 2rem;
    height: 3rem;
    font-size: 0.9rem;
  }
  .dms .form-section button {
    right: 3rem;
  }
  #forgot-password .main-section {
    min-height: 88vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
  #forgot-password .main-section .show-case {
    display: none;
  }
  #forgot-password .main-section .form-section {
    padding: 1rem;
    height: 100%;
  }
  #forgot-password .main-section .form-section #forgotpwd-form {
    width: 95%;
  }
  #forgot-password .main-section .form-section #forgotpwd-form .input-fields h3 {
    font-size: 0.9rem;
    text-align: left;
  }
  #otp-verification {
    height: 88vh;
  }
  #otp-verification .main-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #otp-verification .main-section .show-case {
    display: none;
  }
  #otp-verification .main-section .form-section {
    height: 100%;
    padding: 1rem;
  }
  #otp-verification .main-section .form-section #verification-form {
    padding: 1rem;
    width: 95%;
    height: 100%;
  }
  #otp-verification .main-section .form-section #verification-form .input-fields h4 {
    font-size: 0.85rem;
  }
  #success-verification {
    height: 92vh;
  }
  #success-verification .main-section {
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #success-verification .main-section .show-case {
    display: none;
  }
  #success-verification .main-section .form-section {
    height: 100%;
    padding: 1rem;
  }
  #success-verification .main-section .form-section #reset-form {
    width: 97%;
    height: 100%;
    padding: 1rem;
  }
  #success-verification .main-section .form-section #reset-form .input-fields input {
    font-size: 0.9rem;
  }
  #success-verification .main-section .form-section #reset-form .input-fields button {
    margin: 0.75rem 0;
  }
  #success-verification .main-section .form-section #reset-form .input-fields h4 {
    margin: 1rem 0;
    font-size: 0.85rem;
  }
  #failed-verification {
    width: 90%;
    margin: auto;
  }
  #failed-verification .img-1 {
    height: 200px;
    width: 220px;
  }
  #failed-verification .content {
    margin: 1.5rem auto;
  }
  #failed-verification .content .img-2 {
    height: 50px;
    width: 60px;
  }
  #failed-verification .content h1 {
    font-size: 1.3rem;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .title {
    font-size: 2.5rem;
  }
  .primary {
    font-size: 1.75rem;
  }
  .secondary {
    font-size: 1.5rem;
  }
  .teritary {
    font-size: 1rem;
  }
  .main-navbar {
    width: 100%;
    -ms-grid-columns: 1fr 0.2fr;
        grid-template-columns: 1fr 0.2fr;
  }
  .main-navbar h1 {
    margin: 0;
    display: inline-block;
  }
  .main-navbar #hamburger {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    display: inline;
    z-index: 3;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .main-navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100%;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.75rem;
    background: #ffe;
    opacity: 0.9;
  }
  .main-navbar ul li {
    margin: 1rem 0;
    padding: 1rem;
  }
  #login {
    overflow: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #login .showcase-section {
    height: 88vh;
  }
  #login .showcase-section img {
    height: 50vh;
    width: 100%;
  }
  #login .form-section {
    padding: 1rem;
  }
  #login .form-section .cont {
    width: 100%;
    padding: 1rem;
  }
  #login .form-section .cont #login-form input[type="text"],
  #login .form-section .cont #login-form input[type="password"] {
    margin-bottom: 2rem;
  }
  #login .form-section .cont #login-form button {
    margin: 1rem 0 0 0;
  }
  #login .form-section .cont #login-form .form-footer {
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #signup {
    overflow: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #signup .showcase-section {
    height: 88vh;
  }
  #signup .showcase-section img {
    height: 65vh;
    width: 100%;
  }
  #signup .form-section {
    overflow: auto;
    padding: 1rem;
  }
  #signup .form-section .cont {
    padding: 1rem;
    margin: 0;
    width: 100%;
  }
  #signup .form-section .cont #signup-form {
    padding: 1rem;
  }
  #signup .form-section .cont #signup-form input[type="text"],
  #signup .form-section .cont #signup-form input[type="password"] {
    margin-bottom: 2rem;
  }
  #signup .form-section .cont #signup-form button {
    margin: 1rem 0 0 0;
  }
  #signup .form-section .cont #signup-form .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .main-navbar {
    -ms-grid-columns: 1fr 0.2fr;
        grid-template-columns: 1fr 0.2fr;
  }
  #home .main-navbar #user-info {
    top: 5rem;
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    width: 60%;
  }
  #home .main-navbar #user-info img {
    height: 80px;
    width: 80px;
  }
  #home .main-navbar #user-info button {
    background: #fff;
    color: #333;
    font-weight: bolder;
  }
  #home .main-navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background: none;
    opacity: 1;
    height: unset;
    width: unset;
  }
  #home .main-navbar ul li {
    padding: 0;
    margin: 0;
  }
  #home .body-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #home .body-section .search {
    text-align: center;
  }
  #home .body-section .search .form-section .result {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
  }
  #home .body-section .search .form-section .result .user {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #fff;
  }
  .dms .header img {
    width: 60px;
    height: 60px;
  }
  .dms .nav {
    display: none;
  }
  .dms .messages-section {
    overflow-y: scroll;
    padding: 1.5rem;
  }
  .dms .form-section {
    padding: 0.75rem;
  }
  .dms .form-section textarea {
    height: 4.5rem;
    padding: 1.4rem 2rem;
    font-size: 1.25rem;
  }
  .dms .form-section button {
    right: 3rem;
  }
  #forgot-password .main-section {
    min-height: 88vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
  #forgot-password .main-section .show-case {
    height: 35vh;
  }
  #forgot-password .main-section .show-case img {
    width: 100%;
    height: 100%;
  }
  #forgot-password .main-section .form-section {
    padding: 1rem;
    height: 63vh;
  }
  #forgot-password .main-section .form-section #forgotpwd-form {
    width: 95%;
  }
  #otp-verification {
    height: unset;
  }
  #otp-verification .main-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #otp-verification .main-section .show-case {
    height: 35vh;
  }
  #otp-verification .main-section .show-case img {
    width: 100%;
    height: 100%;
  }
  #otp-verification .main-section .form-section {
    height: 63vh;
    padding: 1rem;
  }
  #otp-verification .main-section .form-section #verification-form {
    padding: 1rem;
    width: 95%;
    height: 100%;
  }
  #success-verification {
    height: unset;
  }
  #success-verification .main-section {
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #success-verification .main-section .show-case {
    height: 40vh;
  }
  #success-verification .main-section .show-case img {
    width: 100%;
    height: 100%;
  }
  #success-verification .main-section .form-section {
    height: 78vh;
    padding: 1rem;
  }
  #success-verification .main-section .form-section #reset-form {
    width: 95%;
    height: 100%;
    padding: 1rem;
  }
  #success-verification .main-section .form-section #reset-form .input-fields button {
    margin: 0.75rem 0;
  }
  #success-verification .main-section .form-section #reset-form .input-fields h4 {
    margin: 1rem 0;
  }
  #failed-verification {
    width: 90%;
    margin: auto;
  }
  #failed-verification .img-1 {
    height: 200px;
    width: 220px;
  }
  #failed-verification .content {
    margin: 1.5rem auto;
  }
  #failed-verification .content .img-2 {
    height: 50px;
    width: 60px;
  }
  #failed-verification .content h1 {
    font-size: 1.3rem;
  }
}

@media (min-width: 400px) and (min-height: 200px) and (max-height: 550px) {
  .title {
    font-size: 2.75rem;
  }
  .primary {
    font-size: 2.5rem;
  }
  .secondary {
    font-size: 1.75rem;
  }
  .teritary {
    font-size: 1.25rem;
  }
  .main-navbar {
    width: 100%;
    -ms-grid-columns: 1fr 0.2fr;
        grid-template-columns: 1fr 0.2fr;
  }
  .main-navbar h1 {
    margin: 0;
    display: inline-block;
  }
  .main-navbar #hamburger {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    display: inline;
    z-index: 3;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .main-navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100%;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.75rem;
    background: #ffe;
    opacity: 0.9;
  }
  .main-navbar ul li {
    margin: 1rem 0;
    padding: 1rem;
  }
  #login {
    overflow: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #login .showcase-section {
    height: 88vh;
    margin: 0;
  }
  #login .showcase-section img {
    margin: 3rem auto;
    height: 40%;
    width: 40%;
  }
  #login .form-section {
    padding: 1rem;
  }
  #login .form-section .cont {
    width: 100%;
    padding: 1rem;
  }
  #login .form-section .cont #login-form input[type="text"],
  #login .form-section .cont #login-form input[type="password"] {
    margin-bottom: 2rem;
  }
  #login .form-section .cont #login-form button {
    margin: 1rem 0 0 0;
  }
  #login .form-section .cont #login-form .form-footer {
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #signup {
    overflow: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #signup .showcase-section {
    height: 88vh;
  }
  #signup .showcase-section img {
    margin: 1rem;
    height: 65vh;
    width: 100%;
  }
  #signup .form-section {
    overflow: auto;
    padding: 1rem;
  }
  #signup .form-section .cont {
    padding: 1rem;
    margin: 0;
    width: 100%;
  }
  #signup .form-section .cont #signup-form {
    padding: 1rem;
  }
  #signup .form-section .cont #signup-form input[type="text"],
  #signup .form-section .cont #signup-form input[type="password"] {
    margin-bottom: 2rem;
  }
  #signup .form-section .cont #signup-form button {
    margin: 1rem 0 0 0;
  }
  #signup .form-section .cont #signup-form .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .main-navbar {
    -ms-grid-columns: 1fr 0.2fr;
        grid-template-columns: 1fr 0.2fr;
  }
  #home .main-navbar #user-info {
    top: 5rem;
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    width: 40%;
  }
  #home .main-navbar #user-info img {
    height: 80px;
    width: 80px;
  }
  #home .main-navbar #user-info button {
    background: #fff;
    color: #333;
    font-weight: bolder;
  }
  #home .main-navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background: none;
    opacity: 1;
    height: unset;
    width: unset;
  }
  #home .main-navbar ul li {
    padding: 0;
    margin: 0;
  }
  #home .body-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #home .body-section .search {
    text-align: center;
  }
  #home .body-section .search .form-section .result {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
  }
  #home .body-section .search .form-section .result .user {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #fff;
  }
  .dms .header {
    height: 17%;
  }
  .dms .header img {
    width: 60px;
    height: 60px;
  }
  .dms .nav {
    display: none;
  }
  .dms .messages-section {
    height: 66%;
    overflow-y: scroll;
    padding: 1.5rem;
  }
  .dms .form-section {
    height: 18%;
    padding: 0.75rem;
  }
  .dms .form-section textarea {
    padding: 1rem 2rem;
    height: 3rem;
    font-size: 1rem;
  }
  .dms .form-section button {
    right: 3rem;
  }
  #forgot-password .main-section {
    min-height: 88vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
  #forgot-password .main-section .show-case {
    height: 88vh;
  }
  #forgot-password .main-section .show-case img {
    display: block;
    width: 50%;
    height: 100%;
    margin: auto;
  }
  #forgot-password .main-section .form-section {
    padding: 1rem;
    height: 130vh;
  }
  #forgot-password .main-section .form-section #forgotpwd-form {
    width: 95%;
  }
  #otp-verification {
    height: unset;
  }
  #otp-verification .main-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #otp-verification .main-section .show-case {
    height: 88vh;
  }
  #otp-verification .main-section .show-case img {
    width: 100%;
    height: 100%;
  }
  #otp-verification .main-section .form-section {
    height: 125vh;
    padding: 1rem;
  }
  #otp-verification .main-section .form-section #verification-form {
    padding: 1rem;
    width: 95%;
    height: 100%;
  }
  #success-verification {
    height: unset;
  }
  #success-verification .main-section {
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #success-verification .main-section .show-case {
    height: 88vh;
  }
  #success-verification .main-section .show-case img {
    width: 100%;
    height: 100%;
  }
  #success-verification .main-section .form-section {
    height: 140vh;
    padding: 1rem;
  }
  #success-verification .main-section .form-section #reset-form {
    width: 95%;
    height: 100%;
    padding: 1rem;
  }
  #success-verification .main-section .form-section #reset-form .input-fields button {
    margin: 0.75rem 0;
  }
  #success-verification .main-section .form-section #reset-form .input-fields h4 {
    margin: 1rem 0;
  }
  #failed-verification {
    width: 90%;
    margin: auto;
  }
  #failed-verification .img-1 {
    height: 200px;
    width: 220px;
  }
  #failed-verification .content {
    margin: 1.5rem auto;
  }
  #failed-verification .content .img-2 {
    height: 50px;
    width: 60px;
  }
  #failed-verification .content h1 {
    font-size: 1.3rem;
  }
}

@media (min-width: 720px) and (max-width: 860px) {
  .title {
    font-size: 2.75rem;
  }
  .primary {
    font-size: 2.5rem;
  }
  .secondary {
    font-size: 1.75rem;
  }
  .teritary {
    font-size: 1.25rem;
  }
  .main-navbar {
    width: 100%;
    -ms-grid-columns: 1fr 0.2fr;
        grid-template-columns: 1fr 0.2fr;
  }
  .main-navbar h1 {
    margin: 0;
    display: inline-block;
  }
  .main-navbar #hamburger {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    display: inline;
    z-index: 3;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .main-navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100%;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.75rem;
    background: #ffe;
    opacity: 0.9;
  }
  .main-navbar ul li {
    margin: 1rem 0;
    padding: 1rem;
  }
  #login {
    overflow: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #login .showcase-section {
    height: 88vh;
  }
  #login .showcase-section img {
    height: 50vh;
    width: 100%;
  }
  #login .form-section {
    padding: 1rem;
  }
  #login .form-section .cont {
    width: 100%;
    padding: 1rem;
  }
  #login .form-section .cont #login-form input[type="text"],
  #login .form-section .cont #login-form input[type="password"] {
    margin-bottom: 2rem;
  }
  #login .form-section .cont #login-form button {
    margin: 1rem 0 0 0;
  }
  #login .form-section .cont #login-form .form-footer {
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #signup {
    overflow: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #signup .showcase-section {
    height: 88vh;
  }
  #signup .showcase-section img {
    height: 65vh;
    width: 100%;
  }
  #signup .form-section {
    overflow: auto;
    padding: 1rem;
  }
  #signup .form-section .cont {
    margin: 0;
    width: 100%;
    padding: 1rem;
  }
  #signup .form-section .cont #signup-form {
    padding: 1rem;
  }
  #signup .form-section .cont #signup-form input[type="text"],
  #signup .form-section .cont #signup-form input[type="password"] {
    margin-bottom: 2rem;
  }
  #signup .form-section .cont #signup-form button {
    margin: 1rem 0 0 0;
  }
  #signup .form-section .cont #signup-form .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .main-navbar {
    -ms-grid-columns: 1fr 0.2fr;
        grid-template-columns: 1fr 0.2fr;
  }
  #home .main-navbar #user-info {
    top: 5rem;
    background: #fff;
    color: #333;
    padding: 1rem 2rem;
    width: 30%;
  }
  #home .main-navbar #user-info img {
    height: 80px;
    width: 80px;
  }
  #home .main-navbar #user-info button {
    background: #333;
    color: #fff;
    font-weight: bolder;
  }
  #home .main-navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background: none;
    opacity: 1;
    height: unset;
    width: unset;
  }
  #home .main-navbar ul li {
    padding: 0;
    margin: 0;
  }
  #home .body-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #home .body-section .search {
    text-align: center;
  }
  #home .body-section .search .form-section .result {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
  }
  #home .body-section .search .form-section .result .user {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #fff;
  }
  .dms {
    height: 100vh;
  }
  .dms .header img {
    width: 60px;
    height: 60px;
  }
  .dms .nav {
    display: none;
  }
  .dms .messages-section {
    overflow-y: scroll;
    padding: 1.5rem;
  }
  .dms .form-section {
    padding: 0.75rem;
  }
  .dms .form-section textarea {
    padding: 1.25rem 2rem;
    height: 4.75rem;
    font-size: 1.2rem;
  }
  .dms .form-section button {
    right: 3rem;
  }
  #forgot-password .main-section {
    min-height: 100vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  #forgot-password .main-section .show-case {
    height: 100%;
  }
  #forgot-password .main-section .show-case img {
    width: 100%;
    height: 80%;
    margin: auto;
  }
  #forgot-password .main-section .form-section {
    padding: 1rem;
    height: 100%;
  }
  #forgot-password .main-section .form-section #forgotpwd-form {
    width: 95%;
  }
  #otp-verification {
    height: 100vh;
  }
  #otp-verification .main-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #otp-verification .main-section .show-case {
    height: 100%;
  }
  #otp-verification .main-section .show-case img {
    width: 100%;
    height: 90%;
  }
  #otp-verification .main-section .form-section {
    height: 100%;
    padding: 1rem;
  }
  #otp-verification .main-section .form-section #verification-form {
    padding: 1rem;
    width: 95%;
    height: 100%;
  }
  #success-verification {
    min-height: 100vh;
  }
  #success-verification .main-section {
    height: 100%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #success-verification .main-section .show-case {
    height: 100%;
  }
  #success-verification .main-section .show-case img {
    width: 100%;
    height: 80%;
    margin: 1rem 0;
  }
  #success-verification .main-section .form-section {
    height: 100%;
    padding: 1rem;
  }
  #success-verification .main-section .form-section #reset-form {
    width: 95%;
    height: 100%;
    padding: 1rem;
  }
  #success-verification .main-section .form-section #reset-form .input-fields button {
    margin: 0.75rem 0;
  }
  #success-verification .main-section .form-section #reset-form .input-fields h4 {
    margin: 1rem 0;
  }
  #failed-verification {
    width: 90%;
    margin: auto;
  }
  #failed-verification .img-1 {
    height: 200px;
    width: 220px;
  }
  #failed-verification .content {
    margin: 1.5rem auto;
  }
  #failed-verification .content .img-2 {
    height: 50px;
    width: 60px;
  }
  #failed-verification .content h1 {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=App.css.map */